h1 {
	font-family: Cambria;
	color: DeepSkyBlue;
	font-size: 3rem;
	border: 2px solid cyan	
}

body {
  background-image: url("whiteBird.jpg");
  background-size: cover
}

#uno {	
	display: flex;
	flex-wrap: wrap;
}

.nav {
  font-size: 1.3rem;
}