div.top {
  background-color: lightblue;
}

.welcome {
  font-family: Cambria;
  background-color: #6ccff5;
  color: white;
}

div.column {
  width: 33%;
  float: left;
  border-radius: 25px;
}
div.column2 {
  width: 50%;
  float: left;
  border-radius: 25px;
}

#description {
  color: gray;
}

li {
  font-size: 16pt;
  font-family: Arial;
}


ul li {
  font-family: Cambria;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 37%;
}

.smallerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


.largerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
